<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #7950F2;">
  <div class="container-fluid">
    <a class="navbar-brand" id="titleLogo" href="https://127.0.0.1:8000/">Wild Séries</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
        <a class="nav-link active" aria-current="page" href="#">Favoris</a>
    </ul>
        
    <span class="navbar-item" href="#" style="text-decoration: underline;">Déconnexion</span>
  </div>
  </div>
</nav>